@import '~sass/variables';

.entry-container {
  position: relative;
  background-color: black;
  padding: 25px;
  min-width: 200px;
  color: white;
  height: 100vh;
  // @media screen and (max-width: 1328px) {
    width: 270px;
  // }
}

.entry-logo-container {
  min-width: 100px;
  font-size: 25px;
  min-height: 100px;
  text-align: center;
  cursor: pointer;
}

hr {
  border-top: 1px solid white;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

hr.double-height {
  border-top: 2px solid white;
}

.entry-label {
  font-size: 12px;
}

.entry-list div{
  font-size: 14px;
  padding: 5px;
  a {
    cursor: pointer;
  }
}

.btn-dashbard {
  display: flex;
  background-color: $color-primary;
  color: white;
  padding: 2px;
  font-size: 14px;
  width: 100%;
  border-radius: 0px;
  border: none;
  &:hover {
    background-color: lighten($color-primary,15%);
  }
  img {
    margin: 3px 0 3px 3px;
    width: 20px;
    height: 14px;
  }
}


