<div class="entry-container">
  <div class="entry-logo-container" (click)="onClickLogo()">
    <img  src="/assets/images/logo.png"/>
  </div>
  <hr class="double-height">
  <button class="btn btn-dashbard" (click)="setDefaultEntry()">
    <img src="assets/images/icons/dashboard.svg">
    new dashboard
  </button>
  <hr>
  
  <div class="entry-label">
    saved dashboards
  </div>

  <div class="entry-list">
    <div *ngFor="let entry of entryList, let i = index">
      <a (click)="selectEntry(i)">{{entry.title}}</a>
    </div>
  </div>
  <a class="sidebar-hide" (click)="hideSidbar()">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </a>
</div>
