// color
$color-primary: #00b5e7;
$color-dark: #000000;

// font-size
$fontsize-article-title: 14px;
$fontsize-article-score: 18px;
$fontsize-article-description: 12px;
$fontsize-data-tab: 18px;
$fontsize-large-score: 36px;


