@import "node_modules/bootstrap/scss/bootstrap";
@import './variables';
@import './mixins';

body {
  overflow: hidden;
  background: #f3f3f3;

  .shortcut-bar {
    background-color: $color-primary;
    padding: 0px;
    height: 100vh;
    z-index: 13;
    width: 44px;
    display: block;

    // @media screen and (max-width: 1328px) {
    //   display: block;
    // }

    button {
      background-color: transparent;
      padding: 2px;
      margin: 0px;
      border-style: none;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }

      &.btn-logo {
        background-color: black;
      }
    }
  }
  .sidebar {
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    z-index: 11;
    @media screen and (max-width: 1234px) {
      position: absolute;
      padding-left: 44px;
    }

    &-top {
      z-index: 12;
    }
  }
  .sidebar-hide {
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
    font-size: 14px;
    line-height: 20px;
    // display: none;
    cursor: pointer;
    @media screen and (max-width: 1234px) {
      right: 7px;
      // display: block;
    }
  }
 
  .content-container {
    @media screen and (max-width: 1328px) {
      // padding-left: 10px;
    }
  }
  .navbar-container {
    position: fixed;
    transition: all 1s;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 40px;
    color: white;

    @media screen and (max-width: 1328px) {
      opacity: 1.0;
      top: 0px;
      left: 0px;
      width: 100%;
      background-color: black;    
    }
  }

}
.hr-content {
  border-top: 2px solid #e6e6e6;
  margin-bottom: 30px;
  margin-top: 30px;
}

.btn-dashbard {
  border-radius: 0 !important;
}

// date picker
.mydp {
  height: 25px !important;
  border: none !important;
  .selector {
    border-radius: 0px !important;
  }
  .selectorarrow {
    margin-top: 27px !important;
  }
  .selectiongroup {
    border-radius: 0px !important;
    position: relative;
    width: 100% !important;
    input {
      height: 25px !important;
      border-radius: 0px;
      margin-left: 28px;
      width: 120px;
    }
    .selbtngroup {
      height: 25px !important;
      position: absolute;
      .btnclear {
        display: none !important;
      }
      .btnpicker {
        background-color: black;
        color: white;
        border-radius: 0px;
      }
    }
  }
}

// data table

.view-container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  background-color: white;

  .view-title {
    width:  100%;
    display: flex;
    background-color: white;

    .title {
      padding: 5px;
      color: $color-primary;
      font-size: 14px;
      text-transform: uppercase;
      border-top: 2px solid $color-primary;
      width: 200px;
    }
    .space {
      width: 100%;
      border-top: 2px solid lightgrey;
    }
  }
  .table-container {
    padding: 10px;
    background: white;
    overflow-x: auto;
    width: 100%;

    &::-webkit-scrollbar { height: 5px !important }

    &::-webkit-scrollbar {
        height: 15px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0); 
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.2); 
        cursor: pointer;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.3); 
        cursor: pointer;
      }
    }

    table {
      border-bottom: 1px solid #e6e6e6;
      min-width: 600px;
      thead {
        font-size: 14px;
        color: $color-primary;
        th {
          border: none;
          padding: 5px;
          a {
            position: relative;
            padding: 0 7px;
            img {
              width: 20px;
              height: 20px;
            }
            &:before {
              font-family: FontAwesome;
              content: "\f0dc";
              color: lightgray;
              font-size: 10px;
              margin: 0px 5px 10px 0px;
              position: absolute;
              left: 0px;
              top: 3px;          
            }
            .glyphicon-triangle-top::before {
              font-family: FontAwesome;
              content: "\f0de";
              font-size: 10px;
              color: $color-primary;
              width: 10px;
              position: absolute;
              left: 0px;
              top: 3px;  
            }
            .glyphicon-triangle-bottom::before {
              font-family: FontAwesome;
              content: "\f0dd";
              font-size: 10px;
              color: $color-primary;
              width: 10px;
              position: absolute;
              left: 0px;
              top: 3px;  
            }
          }
        }
      }
      tbody {
        td {
          padding: 5px;
          background-color: white !important;
        }
      }

    }

  }



}

// page nation
.button-group-up-down-container {
  position: absolute;
  bottom: 5px;
  right: 10px;
  .btn-up {
    background-color: black;
    color: white;
    border-radius: 0;
    font-size: 8px;
    width: 14px;
    height: 14px;
    padding: 0px;
    margin: 1px;
  }
}
.dropdowns-container {    
  position: absolute;
  bottom: 5px;

  .custom-dropdown {
    cursor: pointer;
    font-size: 12px;
    color: gray;

    
    &::before {
      font-family: FontAwesome;
      display: inline-block;
      padding: 1px 4px;
      vertical-align: middle;
      content: "\f107";
      
    }
  }
}

// article style

.article-score {
  color: $color-primary;
  font-size: $fontsize-article-score;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.article-title {
  color: black;
  font-size: $fontsize-article-title;
  line-height: $fontsize-article-title;
  text-align: left;
}
.article-description {
  color: pink;
  font-size: $fontsize-article-description;
  text-align: left;
}

// arrow box (menu)
.menu-wrapper {
  position: absolute;
  width: 0px;
  height: 0px;
}
.item-box {
  cursor: pointer;
}
.box-arrow-top {
	position: absolute;
  background: black;
  color: white;
  font-size: 12px;
  padding: 6px;
  min-width: 60px;
  max-height: 150px;
  z-index: 2;
  hr {
    margin-top: 3px !important;
    margin-bottom: 2px !important;
    margin-left: -6px;
    margin-right: -6px;
  }
  &:after {
    bottom: 100%;
    left: 8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: black;
    border-width: 4px;
    margin-left: -4px;
  }
}