@import '~sass/variables';

td {
  text-align: center;
  vertical-align: middle;
}

.current-article {
  .value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px;
    margin-top: 25px;
    .icon {
      width: 40px;
    }
    div {
      font-size: 16px;
      font-weight: 700;
      margin-left: 8px;
      color: $color-primary;
      height: 70px;
      display: flex;
      align-items: center;
      &.title {
        color: black;
        font-size: 18px;
        font-weight: 200;
      }
    }
  }
}