<div class="view-container" *ngIf="data && !currentArticle">
  <div class="view-title">
    <div class="title">Cluster Overview</div>
    <div class="space"></div>
  </div>
  <div class="table-container" >
    <table class="table table-striped" 
        [mfData]="data" #mf="mfDataTable" 
        [mfRowsOnPage]="rowsOnPage" 
        [mfActivePage]="1"
        >
      <thead>
        <tr>
          <th style="width: 5%">
              <mfDefaultSorter by="id">id</mfDefaultSorter>
          </th>
          <th style="width: 50%">
              <mfDefaultSorter by="cluster">cluster</mfDefaultSorter>
          </th>
          <th style="width: 5%">
              <mfDefaultSorter by="p1"><img src="assets/images/icons/comment.svg"></mfDefaultSorter>
          </th>
          <th style="width: 5%">
              <mfDefaultSorter by="p2"><img src="assets/images/icons/comment-compare.svg"></mfDefaultSorter>
          </th>
          <th style="width: 5%">
              <mfDefaultSorter by="p3"><img src="assets/images/icons/facebook.svg"></mfDefaultSorter>
          </th>
          <th style="width: 5%">
              <mfDefaultSorter by="p4"><img src="assets/images/icons/like.svg"></mfDefaultSorter>
          </th>
          <th style="width: 5%">
              <mfDefaultSorter by="p5"><img src="assets/images/icons/share.svg"></mfDefaultSorter>
          </th>
          <th style="width: 5%">
              <mfDefaultSorter by="p6"><img src="assets/images/icons/comment.svg"></mfDefaultSorter>
          </th>
          <th style="width: 5%">
              <mfDefaultSorter by="p7"><img src="assets/images/icons/plus-yellow-circle.svg"></mfDefaultSorter>
          </th>
          <th style="width: 5%">
              <mfDefaultSorter by="p8"><img src="assets/images/icons/share.svg"></mfDefaultSorter>
          </th>
          <th style="width: 5%">
              <mfDefaultSorter by="p9"><img src="assets/images/icons/comment.svg"></mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data, let i=index">
          <td class="table-id">{{i+1}}</td>
          <td><div class="article-title">{{item.title}}</div></td>
          <td><div class="article-score">{{item.score[0]}}</div></td>
          <td><div class="article-score">{{item.score[1]}}</div></td>
          <td><div class="article-score">{{item.score[2]}}</div></td>
          <td><div class="article-score">{{item.score[3]}}</div></td>
          <td><div class="article-score">{{item.score[4]}}</div></td>
          <td><div class="article-score">{{item.score[5]}}</div></td>
          <td><div class="article-score">{{item.score[6]}}</div></td>
          <td><div class="article-score">{{item.score[7]}}</div></td>
          <td><div class="article-score">{{item.score[8]}}</div></td>
         
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <td colspan="13">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot> -->
    </table>

    <!--pagenation-->    
    <div class="dropdowns-container">
      <div class="custom-dropdown dropdown-number"
        (click)="hideAllMenu();showPageMenu=!showPageMenu">
        page {{currentPage}} of {{totalPages}}
      </div>
      <div class="menu-wrapper" 
        [style.display]="showPageMenu?'':'none'">
        <div class="box-arrow-top">
          <div class="item-box" 
            *ngFor="let pg of ' '.repeat(totalPages).split(''), let i = index"
            (click)="setPage(i + 1); showPageMenu=false">
            page {{i + 1}}
          </div>
        </div>
      </div>      
    </div>
    <div class="button-group-up-down-container">
      <button class="btn btn-up" *ngIf="currentPage>1" (click)="setPage(currentPage-1)">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </button>
      <button class="btn btn-up" *ngIf="currentPage<totalPages" (click)="setPage(currentPage+1)">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
    </div>


</div>


</div>  
<div *ngIf="currentArticle" class="current-article row">
  <div class="col-sm-3 col-xs-12">
    <div class="value-container">
      <img class="icon" src="assets/images/icons/clock.svg">
      <div>
        <div class="text">{{currentArticle.date}}</div>
      </div>
    </div>
  </div>

  <div class="col-sm-3 col-xs-12">
    <div class="value-container">
      <img class="icon" src="assets/images/icons/paper.svg">
      <div>
        <div class="text">{{currentArticle.place}}</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="value-container">
      <img class="icon" src="assets/images/icons/social.svg">
      <div>
        <div class="title">{{currentArticle.title}}</div>
      </div>
    </div>
  </div>
</div>