<div class="context-container" [ngStyle]="{width: (contextWidth - 44) + 'px'}">
  <!-- title -->
  <div class="context-title-container">
    <input type="text" class="input-dashboard-title" [value]="currentDashboard.title" (keyup)="onChangedTitle($event)">
    <button class="btn btn-dashbard btn-dark"
     (click)="saveEntry()"
     [disabled]="isSaved"
    >
      <img src="assets/images/icons/save-white.svg">
    </button>
  </div>
  <!-- search -->
  <div class="context-search-container">
    <input class="input-search" type="text" placeholder="Search" aria-label="Search" value="{{currentDashboard.search.term}}">
    <div class="custom-dropdown dropdown-search"
      (click)="hideAllMenu();showSearchMenu=!showSearchMenu">
      <!-- {{searchPart[currentDashboard.search.part]}} -->
      {{searchPart[currentSearchIndex]}}
    </div>
    <div class="menu-wrapper" 
      [style.display]="showSearchMenu?'':'none'">
      <div class="box-arrow-top">
        <div class="item-box"  
          *ngFor="let item of searchPart, let i = index" 
          (click)="currentSearchIndex=i; showSearchMenu=!showSearchMenu;">
          <span *ngIf="currentSearchIndex!=i">
            {{item}}
          </span>
        </div>
      </div>
    </div>

  </div>
  <hr class="double-height">

  <!-- period -->
  <div class="context-period-container">
    <div class="custom-dropdown dropdown-period"
      (click)="hideAllMenu();showPeriodMenu=!showPeriodMenu">
      {{periodList[currentDashboard.period.index]}}
    </div>
    <div class="menu-wrapper" 
      [style.display]="showPeriodMenu?'':'none'">
      <div class="box-arrow-top">
        <div class="item-box"  
          *ngFor="let item of periodList, let i = index" 
          (click)="setPeriodIndex(i)">
          <span *ngIf="i!=0">
            {{item}}
          </span>

        </div>
        <hr>
        <div class="item-box" (click)="setPeriodIndex(0)">
          {{periodList[0]}}
        </div>        
      </div>
    </div>
    <div class="date-picker-container" *ngIf="currentDashboard.period.index==0"><my-date-picker class="" [options]="myDatePickerOptions" [(ngModel)]="dateStartModel" required (dateChanged)="onDateChanged($event)"></my-date-picker></div>
    <div class="date-picker-container" *ngIf="currentDashboard.period.index==0"><my-date-picker class="" [options]="myDatePickerOptions" [(ngModel)]="dateEndModel" required (dateChanged)="onDateChanged($event)"></my-date-picker></div>
  </div>
  <hr>
  
  <div class="context-vscroll-pannel">
    <!-- clusters (bubbles chart) -->
    <div id="contextClusters" class="context-section-container">
      <app-bubble-chart *ngIf="clusterData" class="cluster-chart" [chartWidth]="400"  [chartHeight]="400" [data]="clusterData" (onClickBubble)="onSelectCluster($event)"> </app-bubble-chart>
      <div class="dropdowns-container">
        <div class="custom-dropdown dropdown-number"
        (click)="hideAllMenu();showClusterNumMenu=!showClusterNumMenu">
          top {{currentDashboard.clusters.items}}
          <div class="menu-wrapper" 
            [style.display]="showClusterNumMenu?'':'none'">
            <div class="box-arrow-top">
              <div class="item-box"  
                *ngFor="let item of clusterNumList, let i = index" 
                (click)="currentDashboard.clusters.items=item; updateClusters()">
                  top {{item}}
              </div>
            </div>
          </div>
        </div>
        <div class="custom-dropdown dropdown-sort"
          (click)="hideAllMenu();showClusterSortMenu=!showClusterSortMenu">
          sort
        </div>
        <div class="menu-wrapper menu-clusters-num" 
          [style.display]="showClusterSortMenu?'':'none'">
          <div class="box-arrow-top">
            <div class="item-box"  
              *ngFor="let item of clusterSortList, let i = index" >
              <a [class.active]="currentDashboard.clusters.sort[i]"
                (click)="currentDashboard.clusters.sort[i]=!currentDashboard.clusters.sort[i]; updateClusters()">
                {{item}}
              </a>

            </div>
            <hr>
          </div>
        </div>

      </div>
      <div class="context-subtitle">
        Clusters
      </div>
    </div>

    <!-- platform(pie chart) -->
    <div id="contextPlatforms" class="context-section-container">
      <div *ngIf="platformData">
        <pieChart [data]="platformData" (onChangedSelection)="onSelectPlatforms($event)"></pieChart> 
      </div>   
      <div class="dropdowns-container">
        <div class="custom-dropdown dropdown-number"
          (click)="hideAllMenu();showPlatformNumMenu=!showPlatformNumMenu">
          top {{currentDashboard.platforms.items}}
          <div class="menu-wrapper" 
            [style.display]="showPlatformNumMenu?'':'none'">
            <div class="box-arrow-top">
              <div class="item-box"  
                *ngFor="let item of clusterNumList, let i = index" 
                (click)="currentDashboard.platforms.items=item; updatePlatforms()">
                  top {{item}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="context-subtitle">
        Platforms
      </div>
      <!--pagenation-->
      <div class="button-group-up-down-container">
        <button class="btn btn-up">
          <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>
        <button class="btn btn-up">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <!-- Articles -->
    <div id="contextArticles" class="context-section-container">
      <div class="context-subtitle">
        Articles
      </div>
      
      <div class="context-article-list"> 
        <div class="table-article-list">
          <ng-container *ngFor="let item of articleData, let i=index">
            <div class="row row-article"
              *ngIf="i >= (articlePageNumber-1)*articleItemsPerPage && i < articlePageNumber * articleItemsPerPage"
              (click)="onSelectArticle(item.id)"
              >
              <div class="article-bullet">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </div>
              <div class="article-content">
                <div class="article-title">
                  {{item.title}}
                </div>
                <div class="article-description">
                  {{item.date}} | {{item.place}}
                </div>
              </div>
              <div class="article-score">
                {{getSumFromArray(item.score)}}
              </div>
            </div>
          </ng-container>
        </div>

      </div>

      <!--pagenation-->    
      <div class="dropdowns-container">
        <div class="custom-dropdown dropdown-number"
          (click)="hideAllMenu();showArticlePageMenu=!showArticlePageMenu">
          
          page {{articlePageNumber}} of {{articleTotalPages}}
          <div class="menu-wrapper" 
            [style.display]="showArticlePageMenu?'':'none'">
            <div class="box-arrow-top">
              <div class="item-box" 
                *ngFor="let pg of ' '.repeat(articleTotalPages).split(''), let i = index"
                (click)="hideAllMenu(); articlePageNumber=i+1">
                page {{i + 1}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-group-up-down-container">
        <button class="btn btn-up"
          *ngIf="articlePageNumber!=1"
          (click)="articlePageNumber=articlePageNumber-1">
          <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>
        <button class="btn btn-up"
          *ngIf="articlePageNumber<articleTotalPages"
          (click)="articlePageNumber=articlePageNumber+1">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>

      <div class="button-add-container">
        <button class="btn btn-add-round">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </div>
  <a class="sidebar-hide">
    <i class="fa fa-chevron-left" aria-hidden="true" (click)="hideSidbar()"></i>
  </a>
</div>