@import '~sass/variables';

.context-container {
  background-color: $color-primary;
  color: white;
  padding: 35px;
  position: relative;
  height: 100vh;
  // margin-left: 44px;

  @media screen and (max-width: 1328px) {
    margin-left: 0;

    // width: 270px;
    padding: 20px 20px 10px 20px;
  }
  // &:after, &:before {
  //   left: 100%;
  //   top: 50%;
  //   border: solid transparent;
  //   content: " ";
  //   height: 0;
  //   width: 0;
  //   position: absolute;
  //   pointer-events: none;
  //   @media screen and (max-width: 1328px) {
  //     display: none;
  //   }
  // }


  // &:before {
  //   border-color: none;
  //   border-left-color: $color-primary;
  //   border-width: 15px;
  //   margin-top: -15px;
  // }

  // title
  .context-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .input-dashboard-title {
      width: 100%;
      margin-right: 5px;
      border: 1px dashed white !important;
      background-color: $color-primary;
      color: white;
      font-size: 18px;
      padding: 3px !important;
      height: 30px;
    }
    .btn-dark {
      background-color: $color-dark;
      height: 30px;
      padding: 3px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 16px;
      }
    }   
  }

  // search
  .context-search-container {
    position: relative;

    .input-search {
      color: black;
      border: 2px solid #e6e6e6;
      height: 35px;
      width: 100%;
      border-radius: 17px;  
      font-size: 12px;
      padding: 2px 10px;
      @media screen and (max-width: 1328px) {
        height: 25px;
        padding: 2px 5px;
      }
    }

    .dropdown-search {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 35px;
      color: $color-primary;
      padding: 4px 10px 4px 0px;
      width: 100px;
      @media screen and (max-width: 1328px) {
        height: 25px;
        width: 80px;
        font-size: 12px;

      }
    }

    .menu-wrapper {
      width: 100%;
      .box-arrow-top {
        min-width: 60px;
        right: 10px;
        top: -5px;
        z-index: 1;
        // @media screen and (max-width: 1328px) {
        //   left: 160px;
        // }
      }
    }
  }

  hr {
    border-top: 1px solid white;
    -webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
  }
  hr.double-height {
    border-top: 2px solid white;
    // @media screen and (max-width: 1328px) { 
    //   -webkit-margin-after: 5px;
    // }
  }
  
  // period
  .context-period-container {
    display: flex;
    flex-wrap: wrap;
    // @media screen and (max-width: 1328px) { 
    //   margin-bottom: -10px;
    //   margin-top: -5px;
    // }
    .dropdown-period {
      width: 100px;
      min-width: 100px;
    }    
    .date-picker-container {
      height: 25px;
      margin-left: 5px;
      min-width: 150px;
      @media screen and (max-width: 520px) {
        width: 100%;
        margin-bottom: 5px;
        margin-left: 30px;
      }
    }
    .menu-wrapper {

      .box-arrow-top {
        z-index: 1;
        min-width: 80px;
        top: 25px;

      }
    }
  }

  // clusters (bubbles chart)
  .context-section-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: white;
    margin-bottom: 20px;
    .dropdowns-container {
      position: absolute;
      bottom: 5px;
      left: 10px;
      display: flex;
      color: gray;
      font-size: 12px;
    }
    .cluster-chart{
      @media screen and (max-width: 500px) {
        zoom: 0.8;
      }
      @media screen and (max-width: 400px) {
        zoom: 0.7;
      }
      @media screen and (max-width: 370px) {
        zoom: 0.6;
      }
    }
    .menu-clusters-num .box-arrow-top {
      width: 200px !important;
      top: 20px; 
      left: 50px;
      a {
        color: gray;
        &.active {
          color: white;
        }
      }


    }
  }

  // scroll pane
  .context-vscroll-pannel {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 215px) !important;
    @media screen and (max-width: 1328px) {
      height: calc(100vh - 165px) !important;
    }
    &::-webkit-scrollbar { width: 5px !important }

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0); 
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0); 
        cursor: pointer;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.5); 
        cursor: pointer;
      }
    }
  }

  // article list
  .context-article-list {
    display: flex;
    .row-article {
      margin: 15px 0;
      cursor: pointer;
      &:hover {
        background-color: #e6e6e6;
      }
    }
    .article-bullet {
      color: black;
      padding: 10px 10px; 
      display: flex;
      justify-content: center;
      width: 10%;
      // @media screen and (max-width: 1328px) {
      //   min-width: 100% !important;
      //   margin: 20px 0 0 0;
      // }
    }
    .article-content {
      width: 70%;
      // @media screen and (max-width: 1328px) {
      //   min-width: 100% !important;
      //   padding: 0 15px;
      // }
    }
    .article-score {
      width: 20%;
      // @media screen and (max-width: 1328px) {
      //   min-width: 100% !important;
      // }
    }


 
  }

  //drop down
  .custom-dropdown {
    cursor: pointer;
    &::before {
      font-family: FontAwesome;
      display: inline-block;
      padding: 1px 4px;
      vertical-align: middle;
      content: "\f107";
    }
  }

  .context-subtitle {
    position: absolute;
    top:5px;
    left: 10px;
    color: $color-primary;
    font-size: 14px;
    text-transform: uppercase;
  }
 
  .button-add-container {
    position: absolute;
    top: 10px;
    right: 25px;  
    
    .btn-add-round {
      display: flex;
      justify-content: center;
 
      background-color: orange;
      font-size: 10px;
      padding: 0 !important;
      border-radius: 50%;
      width: 16px;
      height: 16px;
    }
  }



}
