
<div #mainContainer class="main-container" >
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0)">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders">Orders</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <!-- <h1>
    {{title}}
  </h1> -->

  <!-- <router-outlet></router-outlet> -->
  <!-- <div class="navbar-container">
    
  </div> -->
  <div class="shortcut-bar">
    <button class="btn-logo" (click)='entrySidebar=!entrySidebar;contextSidebar=0'>
      <img src="assets/images/icons/logo-placeholder.svg">
    </button>
    <button class="btn-section" (click)='contextSidebar=(contextSidebar==1)?0:1;entrySidebar=false' [ngx-scroll-to]="'#contextClusters'">
      <img src="assets/images/icons/clusters.svg">
    </button>
    <button class="btn-section" (click)='contextSidebar=(contextSidebar==2)?0:2;entrySidebar=false' [ngx-scroll-to]="'#contextPlatforms'">
      <img src="assets/images/icons/platforms.svg">
    </button>
    <button class="btn-section" (click)='contextSidebar=(contextSidebar==3)?0:3;entrySidebar=false' [ngx-scroll-to]="'#contextArticles'">
      <img src="assets/images/icons/articles.svg">
    </button>

  </div>
  <app-entry-panel class="sidebar sidebar-top" [ngStyle]="{'margin-left': entrySidebar?'0':'-270px' }" [entryList]="entryList" (onClickHide)="entrySidebar=false" (onSelectEntry)="updateSidbar()"></app-entry-panel>
  <app-context-panel class="sidebar sidebar-bottom" [ngStyle]="getContextStyle()" [contextWidth]="getContextWidth()" (onUpdateEntry)="onUpdateEntry($event)" (onClickHide)="contextSidebar=0"></app-context-panel>     
  <div class="content-container" [ngStyle]="{'max-width': (screenWidth - 30) + 'px' }">
    <app-data-panel ></app-data-panel>    
  </div>


</div>



