<div class="view-summary row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/like.svg">
      <div >
        <div class="label">Prrt Likes</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/share.svg">
      <div >
        <div class="label">Prrt Shares</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/comment.svg">
      <div >
        <div class="label">Prrt Comments</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/facebook.svg">
      <div >
        <div class="label">Prrt Total</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/heart-red.svg">
      <div >
        <div class="label">CT "Love"</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/face-haha.svg">
      <div >
        <div class="label">CT "Haha"</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/face-wow.svg">
      <div >
        <div class="label">CT "Wow"</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>



  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/face-sad.svg">
      <div >
        <div class="label">CT "Sad"</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/like-blue.svg">
      <div >
        <div class="label">CT "Wow"</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/face-angry.svg">
      <div >
        <div class="label">CT "Angry"</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/facebook.svg">
      <div >
        <div class="label">Engagement Score</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="value-container">
      <img src="assets/images/icons/plus-yellow-circle.svg">
      <div >
        <div class="label">Total Reaction</div>
        <div class="value">99</div>          
      </div>
    </div>
  </div>

</div>

<div class="view-container" *ngIf="!currentArticle">
  <div class="view-title title-2">
    <div class="title">ENGAGEMENT (PRRT)</div>
    <div class="space"></div>
  </div>
  <div class="table-container">
    <table class="table table-striped" 
        [mfData]="data0" #mf0="mfDataTable" 
        [mfRowsOnPage]="rowsOnPage0" 
        >
      <thead>
        <tr>
          <th colspan="2">
              <mfDefaultSorter by="article">articles</mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="p2"><img src="assets/images/icons/facebook.svg"></mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="p3"><img src="assets/images/icons/plus-yellow-circle.svg"></mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="p4"><img src="assets/images/icons/share.svg"></mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="p5"><img src="assets/images/icons/comment.svg"></mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of mf0.data; let idx = index">
          <tr (click)="collapsed0 = (this.collapsed0 == idx) ? -1: idx;"
            style="cursor: pointer;">

            <td class="collapsed-icon">
              <div *ngIf="idx===collapsed0">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </div>
              <div *ngIf="idx!==collapsed0">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
              </div>
            </td>
            <td>
              <div class="article-title">{{item.article}}</div>
              <div class="article-description">{{item.dateTime}}</div>
            </td>
            <td><div class="article-score">{{item.p1}}</div></td>
            <td><div class="article-score">{{item.p2}}</div></td>
            <td><div class="article-score">{{item.p3}}</div></td>
            <td><div class="article-score">{{item.p4}}</div></td>

          </tr>
          <tr  *ngIf="idx===collapsed0">
            <td colspan="2" class="callapsed-panel">
              <div class="title">
                <img src="assets/images/icons/facebook.svg" style="width:12px"> www.facebook.com/st/vho7h001 =f&st
              </div>
            </td>
            <td colspan="4" class="callapsed-panel">
              <div class="data">
                <div class="data-each">
                    <img src="assets/images/icons/facebook.svg" style="width:12px"> 99
                </div>
                <div class="data-each">
                    <img src="assets/images/icons/plus-yellow-circle.svg" style="width:12px"> 99
                </div>
                <div class="data-each">
                    <img src="assets/images/icons/comment.svg" style="width:12px"> 99
                </div>
                <div class="data-each">
                    <img src="assets/images/icons/share.svg" style="width:12px"> 99
                </div>

              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <!-- <tfoot>
        <tr>
          <td colspan="13">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot> -->
    </table>

    <!--pagenation-->    
    <div class="dropdowns-container">


      <div class="custom-dropdown dropdown-number"
        (click)="hideAllMenu();showPageMenu0=!showPageMenu0">
        page {{currentPage0}} of {{totalPages0}}
      </div>
      <div class="menu-wrapper" 
        [style.display]="showPageMenu0?'':'none'">
        <div class="box-arrow-top">
          <div class="item-box" 
            *ngFor="let pg of ' '.repeat(totalPages0).split(''), let i = index"
            (click)="setPage0(i + 1); showPageMenu0=false">
            page {{i + 1}}
          </div>
        </div>
      </div>

    </div>
    <div class="button-group-up-down-container">
      <button class="btn btn-up" *ngIf="currentPage0>1" (click)="setPage0(currentPage0-1)">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </button>
      <button class="btn btn-up" *ngIf="currentPage0<totalPages0" (click)="setPage0(currentPage0+1)">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>



</div>




<div class="view-container" *ngIf="!currentArticle">
  <div class="view-title title-1">
    <div class="title">ENGAGEMENT (CROWDTANGLE)</div>
    <div class="space"></div>
  </div>
  <div class="table-container">
    <table class="table table-striped" 
        [mfData]="data1" #mf1="mfDataTable" 
        [mfRowsOnPage]="rowsOnPage1" 
        >
      <thead>
        <tr>
          <th>
              <mfDefaultSorter by="article">articles</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="p1"><img src="assets/images/icons/play-rec.svg"></mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="p2"><img src="assets/images/icons/facebook.svg"></mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="p3"><img src="assets/images/icons/plus-yellow-circle.svg"></mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="p4"><img src="assets/images/icons/share.svg"></mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="p5"><img src="assets/images/icons/comment.svg"></mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf1.data; let idx = index" >
    
          <td>
            <div class="article-title">{{item.article}}</div>
            <div class="article-description">{{item.dateTime}}</div>
          </td>
          <td><div class="article-score"><img src="assets/images/icons/link.svg" style="width: 16px;"></div></td>
          <td><div class="article-score">{{item.p2}}</div></td>
          <td><div class="article-score">{{item.p3}}</div></td>
          <td><div class="article-score">{{item.p4}}</div></td>
          <td><div class="article-score">{{item.p5}}</div></td>

        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <td colspan="13">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot> -->
    </table>

    <!--pagenation-->    
    <div class="dropdowns-container">
      <div class="custom-dropdown dropdown-number"
        (click)="hideAllMenu();showPageMenu1=!showPageMenu1">
        page {{currentPage1}} of {{totalPages1}}
      </div>
      <div class="menu-wrapper" 
        [style.display]="showPageMenu1?'':'none'">
        <div class="box-arrow-top">
          <div class="item-box" 
            *ngFor="let pg of ' '.repeat(totalPages1).split(''), let i = index"
            (click)="setPage1(i + 1); showPageMenu1=false">
            page {{i + 1}}
          </div>
        </div>
      </div>



    </div>
    <div class="button-group-up-down-container">
      <button class="btn btn-up" *ngIf="currentPage1>1" (click)="setPage1(currentPage1-1)">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </button>
      <button class="btn btn-up" *ngIf="currentPage1<totalPages1" (click)="setPage1(currentPage1+1)">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
    </div>
</div>
