@import '~sass/variables';

.view-summary {
  width: 100%;
  padding: 20px 0px;

  .value-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    background-color: white;

    img {
      width: 40px;
      margin: 10px;
    }
    .label {
      font-size: 13px;
      color: gray;
      line-height: 13px;
    }
    .value {
      font-size: $fontsize-large-score;
      color: $color-primary;
    }
  }
}

.collapsed-icon {
  color: gray;
}
.callapsed-panel {
  border-top: none !important;
  padding-left: 15px;
  .title {
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    height: 30px;
  }
  div.data {
    display: flex;
    justify-content: space-around;
    .data-each {
      font-size: 12px;
    }
  }
}

tr {
  position: relative;
}

.view-container .title-1 .title {
  width: 370px;
}

.view-container .title-2 .title {
  width: 230px;
}