<div class="view-container" *ngIf="dataBrantoStats">
  <!-- 3 values -->
  <div class="view-summary row">
    <div class="col-sm-4 col-xs-12">
      <div class="value-container">
        <img src="assets/images/icons/sharp-lightgray.svg">
        <div >
          <div class="label">Brandto_Total_Records</div>
          <div class="value">{{dataBrantoStats.total_records}}</div>          
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="value-container">
        <img class="icon" src="assets/images/icons/article-lightgray.svg">
        <div>
          <div class="label">Brandto_Articles</div>
          <div class="value">{{dataBrantoStats.articles}}</div>
        </div>
      </div>   
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="value-container">
        <img class="icon" src="assets/images/icons/comment-lightgray.svg">
        <div>
          <div class="label">Brandto_Comments</div>
          <div class="value">{{dataBrantoStats.comments}}</div>
        </div>
      </div>
    </div>


  </div>

  <!-- tables -->
  <div class="row" style="padding-top:10px;" *ngIf="!isArticleView">
    <div class="col-sm-12 col-md-6">
      <div class="view-title">
        <div class="title">Chatter Overview</div>
        <div class="space"></div>
      </div>
      <div class="table-container-parent">

        <!-- main table -->
        <div class="table-container" *ngIf="data">
          <table class="table table-striped table-primary-one" 
              [mfData]="data" #mf="mfDataTable" 
              [mfRowsOnPage]="rowsOnPage" 
              [mfActivePage]="1"
              >
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="article">articles</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="p1"><img src="assets/images/icons/comment.svg"></mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="p2"><img src="assets/images/icons/comment-compare.svg"></mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>
                  <div class="article-title">{{item.title}}</div>
                  <div class="article-description ">{{item.date}}|{{item.place}}</div>
                </td>
                <td>
                  <div class="article-score">{{item.stats[0]}}</div>
                </td>
                <td>
                  <div class="article-score">{{item.stats[0]}}</div>
                </td>
              </tr>
            </tbody>
          </table>
          <!--pagenation-->    
          <div class="dropdowns-container">
            <div class="custom-dropdown dropdown-number"
              (click)="hideAllMenu();showPageMenu=!showPageMenu">
              page {{currentPage}} of {{totalPages}}
            </div>
            <div class="menu-wrapper" 
              [style.display]="showPageMenu?'':'none'">
              <div class="box-arrow-top">
                <div class="item-box" 
                  *ngFor="let pg of ' '.repeat(totalPages).split(''), let i = index"
                  (click)="setPage(i + 1); showPageMenu=false">
                  page {{i + 1}}
                </div>
              </div>
            </div>
          </div>
          <div class="button-group-up-down-container">
            <button class="btn btn-up" *ngIf="currentPage>1" (click)="setPage(currentPage-1)">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>
            <button class="btn btn-up" *ngIf="currentPage<totalPages" (click)="setPage(currentPage+1)">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <!-- main table finish -->

      </div>


    </div>
    


    <div class="col-sm-12 col-md-6 wrapper-vertial-tables">
      <div class="row">
        <div class="col">
          <div class="view-title">
            <div class="title">Top 3 Voices</div>
            <div class="space"></div>
          </div>

          <!-- Voice Top 3 -->
          <div class="table-container"  style="margin-bottom: 15px;" *ngIf="dataTop3Voices">
            <table class="table table-striped table-secondary-one " 
                [mfData]="dataTop3Voices" #mfTop3Voice="mfDataTable" 
                >
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="voiceName">BT_Voice_Name</mfDefaultSorter>
                  </th>
                  <th width="30px">
                    <mfDefaultSorter by="value"><img src="assets/images/icons/comment.svg"></mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfTop3Voice.data">
                  <td>
                    <div class="article-title">{{item.name}}</div>
                    </td>
                  <td>
                    <div class="article-score">{{item.value}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Voice Top 3 end -->
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="view-title title-1">
            <div class="title">Top 3(?) Channels</div>
            <div class="space"></div>
          </div>

          <!-- Channel Top 3 -->  
          <div class="table-container" *ngIf="dataTop3Channels">
            <table class="table table-striped table-secondary-one " 
                [mfData]="dataTop3Channels" #mfTop3Channel="mfDataTable" 
                >
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="mfTop3Channel">BT_Channel_Name</mfDefaultSorter>
                  </th>
                  <th width="30px">
                    <mfDefaultSorter by="value"><img src="assets/images/icons/comment.svg"></mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfTop3Channel.data">
                  <td>
                    <div class="article-title">{{item.name}}</div>
                    </td>
                  <td>
                    <div class="article-score">{{item.value}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Channel Top 3 end -->

        </div>
      </div>
      

    </div>
  </div>

</div>
