@import '~sass/variables';

.view-container {
  background-color: #f3f3f3 !important;
  .view-summary {
    width: 100%;
    &>div {
      padding: 10px;
    }
    .value-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
      background-color: white;

      img {
        width: 40px;
        margin: 20px;
      }
      .label {
        font-size: 13px;
        color: gray;
        line-height: 13px;
      }
      .value {
        font-size: $fontsize-large-score;
        color: $color-primary;
      }
    }
  }

  .table-container-parent {
    position: relative;
  }
  .view-title {
    .title {
      width: 280px;
    }
  }
  // .title-1 {
  //   width: 370px;
  // }
  
  td {
    vertical-align: middle;
    .article-score {
      padding: 0;
    }
  }

  .table-primary-one {
    td {
      height: 67px;
    }
    min-width: 350px;
  }
  .table-secondary-one {
    td {
      padding: 0px;
    }
    border-bottom-style: none;
    margin-bottom: 0px !important;
    min-width: 200px;
  }

  .wrapper-vertial-tables {
    display: flex;
    flex-direction: column;
    min-height: 320px;
    justify-content: space-between;
  }
}

