<div class="data-container" >

  <div [class]="currentView!=viewCluster?'global-view':'cluster-view'">
    <div class="tabs-panel" *responsive="{bootstrap: ['xl','lg','md','sm']}">
      <div class="tab"  *ngIf="currentView!=viewCluster"
        [class.active]="currentTab==constants.TAB_OVERVIEW"
        [ngx-scroll-to]="'#overview'"
        [ngx-scroll-to-duration]="scrollDuration"
        [ngx-scroll-to-easing]="scrollEasing">

        overview
      </div>
      <div class="tab" 
        [class.active]="currentTab==constants.TAB_CONSUMPTION"
        [ngx-scroll-to]="'#consumption'"
        [ngx-scroll-to-duration]="scrollDuration"
        [ngx-scroll-to-easing]="scrollEasing">

        consumption
      </div>
      <div class="tab" 
        [class.active]="currentTab==constants.TAB_CHATTER"
        [ngx-scroll-to]="'#chatter'"
        [ngx-scroll-to-duration]="scrollDuration"
        [ngx-scroll-to-easing]="scrollEasing">

        chatter
      </div>
      <div class="tab" 
        [class.active]="currentTab==constants.TAB_ENGAGEMENT"
        [ngx-scroll-to]="'#engagement'"
        [ngx-scroll-to-duration]="scrollDuration"
        [ngx-scroll-to-easing]="scrollEasing">

        engagement
      </div>
      

    </div>
    <div class="tabs-panel tabs-panel-xs" *xs>
      <div class="tab tab-one">
        <div *ngIf="currentTab==constants.TAB_OVERVIEW"
          (click)="showTabMenu=!showTabMenu"
          >
          <i class="fa fa-caret-down" aria-hidden="true"></i> overview
        </div>
        <div  *ngIf="currentTab==constants.TAB_CONSUMPTION"
          (click)="showTabMenu=!showTabMenu"
          >
          <i class="fa fa-caret-down" aria-hidden="true"></i> consumption
        </div>
        <div  *ngIf="currentTab==constants.TAB_CHATTER"
          (click)="showTabMenu=!showTabMenu"
          >
          <i class="fa fa-caret-down" aria-hidden="true"></i> chatter
        </div>
        <div  *ngIf="currentTab==constants.TAB_ENGAGEMENT"
          (click)="showTabMenu=!showTabMenu"
          >
          <i class="fa fa-caret-down" aria-hidden="true"></i> engagement
        </div>
      </div>
    </div>

    <div class="tabs-panel tabs-menu" *ngIf="showTabMenu&&currentView!=viewCluster">
      <div class="tab-item" (click)="showTabMenu=!showTabMenu;"
      [ngx-scroll-to]="'#overview'">
        overview
      </div>
    </div>    
    <div class="tabs-panel tabs-menu" *ngIf="showTabMenu">
      <div  class="tab-item" (click)="showTabMenu=!showTabMenu"
      [ngx-scroll-to]="'#consumption'">
        consumption
      </div>
    </div>
    <div class="tabs-panel tabs-menu" *ngIf="showTabMenu">
      <div  class="tab-item" (click)="showTabMenu=!showTabMenu"
      [ngx-scroll-to]="'#chatter'"> 
        chatter
      </div>
    </div>
    <div class="tabs-panel tabs-menu" *ngIf="showTabMenu">
      <div  class="tab-item" (click)="showTabMenu=!showTabMenu"
      [ngx-scroll-to]="'#engagement'">
        engagement
      </div>
    </div>

    <div class="content-panel">
      <app-global-overview id="overview" [ngStyle]="{'display': (currentView!=viewCluster) ?'':'none'}"></app-global-overview>
      <hr class="hr-content" *ngIf="currentView!=viewCluster">
      <app-global-consumption id="consumption"></app-global-consumption>
      <hr class="hr-content">
      <app-global-chatter   id="chatter"></app-global-chatter>
      <hr class="hr-content">
      <app-global-engagement id="engagement"></app-global-engagement>
    </div>
  </div>

 
   

</div>
