@import '~sass/variables';
:host {
  width: 100%;
}

.data-container {
  width: 100%;
  padding: 30px;
  color: black;
  height: 100vh;

  .tabs-panel {
    width: 100%;
    display: flex;
    padding-top: 5px;
    // background-color: white;
      width: 100%;
      z-index: 10;  
      top: 0px;  
 
    .tab {
      display: block;
      padding: 7px 0;
      text-align: left;
      font-size: $fontsize-data-tab;
      font-weight: 700;
      cursor: pointer;
      border-bottom: 3px solid lightgrey;
      &.active {
        border-bottom: 3px solid $color-primary;

        color: $color-primary;
      }
    }
  }
  .content-panel {
    z-index: 9;
    overflow-y: auto;
    overflow-x: hidden;
    
    height: calc(100vh - 120px) !important;

    &::-webkit-scrollbar { width: 5px !important }

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0); 
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0); 
        cursor: pointer;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.5); 
        cursor: pointer;
      }
    }

  }

  .global-view {
    width: 100%;
    .tabs-panel {
      .tab {
        width: 25%;
      }
    }
  }

  .cluster-view {
    width: 100%;
    .tabs-panel {
      .tab {
        width: 33.3%;
      }
    }
  }

  .article-view {
    width: 100%;
    .tabs-panel {
      .tab {
        width: 25%;
      }
    }
  }

  .tabs-panel-xs {
    .tab-one {
      width: 100% !important;
      color: $color-primary;
    }
  }

  .tabs-menu {
    width: 100%;
    .tab-item {
      width: 100% !important;
      cursor: pointer;
    }
  }

}