<div class="view-container" *ngIf="data && !currentArticle">
  <div class="view-title">
    <div class="title">Consumption Overview</div>
    <div class="space"></div>
  </div>
  <div class="table-container" >
    <table class="table table-striped" 
        [mfData]="data" #mf="mfDataTable" 
        [mfRowsOnPage]="rowsOnPage" 
        [mfActivePage]="1"
        >
      <thead>
        <tr>
          <th>
            <mfDefaultSorter by="article">articles</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="consumption">indexed consumption</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td>
            <div class="article-title">{{item.title}}</div>
            <div class="article-description ">{{item.date}}|{{item.place}}</div>
          </td>
          <td>
            <div class="article-score">{{item.consumption}}</div>
          </td>
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <td colspan="13">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot> -->
    </table>

    <!--pagenation-->    
    <div class="dropdowns-container">
      <div class="custom-dropdown dropdown-number"
        (click)="hideAllMenu();showPageMenu=!showPageMenu">
        page {{currentPage}} of {{totalPages}}
      </div>
      <div class="menu-wrapper" 
        [style.display]="showPageMenu?'':'none'">
        <div class="box-arrow-top">
          <div class="item-box" 
            *ngFor="let pg of ' '.repeat(totalPages).split(''), let i = index"
            (click)="setPage(i + 1); showPageMenu=false">
            page {{i + 1}}
          </div>
        </div>
      </div>
    </div>
    <div class="button-group-up-down-container">
      <button class="btn btn-up" *ngIf="currentPage>1" (click)="setPage(currentPage-1)">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </button>
      <button class="btn btn-up" *ngIf="currentPage<totalPages" (click)="setPage(currentPage+1)">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="currentArticle" class="current-article row">
  
  <div class="col-sm-6 col-xs-12 ">
    <div class="block">
      <div class="label">
        Indexed Consumption for This Article
      </div>
      <div class="value-container">
        <div class="title">
          {{currentArticle.title}}
        </div>
        <div class="score">
          {{currentArticle.consumption}} 
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12 ">
    <div class="block">
      <div class="label">
        Indexed Consumption for Benchmark Article
      </div>
      <div class="value-container">
        <div class="title">
          {{currentArticle.title}}
        </div>
        <div class="score">
          {{currentArticle.consumption}} 
        </div>
      </div>
    </div>
  </div>

</div>
