@import '~sass/variables';

.view-container {
  .view-title {
    .title {
      width: 300px !important;
    }
  }

}  
td {
  text-align: center;
  vertical-align: middle;
}
.current-article {
  .block {
    background-color: white;
    height: 120px;
    padding: 15px;
    margin-bottom: 10px;
    .label {
      font-size: 12px;
      color: gray;
    }
    .value-container {
      display: flex;
      .title {
        width: 80%;
        font-size: 16px;
        line-height: 16px;
      }
      .score {
        width: 20%;
        text-align: center;
        font-size: 36px;
        color: $color-primary;
      }
    }
  }
}